<div class="blog-item">
  <div class="blog-img">
    <a href="blog-details.html">
      <img src="assets/img/blog/img1.jpg" alt="">
    </a>
    <div class="mask">
    </div>
  </div>
  <div class="blog-info">
    <div class="post-date">16 April</div>
    <h3><a href="blog-details.html">Where Trends Going Next</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore
      veniam....</p>
    <a href="blog-details.html" class="readmore">Read More</a>
  </div>
</div>