<div class="search-area">
  <form>
    <div class="control-group">
      <ul class="categories-filter animate-dropdown">
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories <span
              class="caret"></span></a>
          <ul class="dropdown-menu animated fadeIn">
            <li class="menu-header">Clothing</li>
            <li><a tabindex="-1" href="#">- Men</a></li>
            <li><a tabindex="-1" href="#">- Women</a></li>
            <li><a tabindex="-1" href="#">- Boys</a></li>
            <li><a tabindex="-1" href="#">- Girls</a></li>
            <li class="menu-header">Electronics</li>
            <li><a tabindex="-1" href="#">- Laptops</a></li>
            <li><a tabindex="-1" href="#">- Desktops</a></li>
            <li><a tabindex="-1" href="#">- Cameras</a></li>
            <li><a tabindex="-1" href="#">- Mobile Phones</a></li>
          </ul>
        </li>
      </ul>
      <input class="search-field" placeholder="Search here...">
      <a class="search-button" href="#"><i class="icon-magnifier"></i></a>
    </div>
  </form>
</div>
