<!-- Header Section Start -->
<div class="header">
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-2">
          <app-language-wrapper></app-language-wrapper>
        </div>
        <div class="col-md-8 col-sm-10">
          <app-search-area></app-search-area>
          <app-user-cart></app-user-cart>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  <!-- Start  Logo & Naviagtion  -->
  <app-logo-and-navigation></app-logo-and-navigation>
</div>
<!-- Header Section End -->
