<section class="product-details-area pt-30 pb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 col-sm-8">
        <div class="product-details-image mt-50">
          <div class="details-image slick-initialized slick-slider">
            <div class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 2220px;">
                <div class="single-product-image slick-slide slick-current slick-active" data-slick-index="0"
                  aria-hidden="false"
                  style="width: 370px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
                  <img src="assets/images/product-single-1.jpg" alt="product">
                </div>
                <div class="single-product-image slick-slide" data-slick-index="1" aria-hidden="true"
                  style="width: 370px; position: relative; left: -370px; top: 0px; z-index: 998; opacity: 0;"
                  tabindex="-1">
                  <img src="assets/images/product-single-2.jpg" alt="product">
                </div>
                <div class="single-product-image slick-slide" data-slick-index="2" aria-hidden="true"
                  style="width: 370px; position: relative; left: -740px; top: 0px; z-index: 998; opacity: 0;"
                  tabindex="-1">
                  <img src="assets/images/product-single-3.jpg" alt="product">
                </div>
                <div class="single-product-image slick-slide" data-slick-index="3" aria-hidden="true"
                  style="width: 370px; position: relative; left: -1110px; top: 0px; z-index: 998; opacity: 0;"
                  tabindex="-1">
                  <img src="assets/images/product-single-4.jpg" alt="product">
                </div>
                <div class="single-product-image slick-slide" data-slick-index="4" aria-hidden="true"
                  style="width: 370px; position: relative; left: -1480px; top: 0px; z-index: 998; opacity: 0;"
                  tabindex="-1">
                  <img src="assets/images/product-single-5.jpg" alt="product">
                </div>
                <div class="single-product-image slick-slide" data-slick-index="5" aria-hidden="true"
                  style="width: 370px; position: relative; left: -1850px; top: 0px; z-index: 998; opacity: 0;"
                  tabindex="-1">
                  <img src="assets/images/product-single-3.jpg" alt="product">
                </div>
              </div>
            </div> <!-- single product image -->
            <!-- single product image -->
            <!-- single product image -->
            <!-- single product image -->
            <!-- single product image -->
            <!-- single product image -->
          </div> <!-- product image -->

          <ul class="product-thumbs slick-initialized slick-slider">
            <div class="slick-list draggable" style="padding: 0px 50px;">
              <div class="slick-track" style="opacity: 1; width: 1440px; transform: translate3d(-270px, 0px, 0px);">
                <li class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-4.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-5.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false"
                  style="width: 90px;" tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false"
                  style="width: 90px;" tabindex="0">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-1.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 90px;"
                  tabindex="0">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-2.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 90px;" tabindex="0">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 90px;" tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-4.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 90px;" tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-5.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 90px;" tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-1.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-2.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned slick-center" data-slick-index="8" aria-hidden="true"
                  style="width: 90px;" tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-4.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-5.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
                <li class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 90px;"
                  tabindex="-1">
                  <div class="single-thumbs">
                    <img src="assets/images/product-single-3.jpg" alt="thumbs">
                  </div> <!-- single thumbs -->
                </li>
              </div>
            </div>





          </ul> <!-- product thumbs -->
        </div> <!-- product details image -->
      </div>
      <div class="col-lg-7">
        <div class="product-details-content mt-45">
          <h3 class="details-title">Proin Lectus Ipsum</h3>
          <div class="details-price-rating d-sm-flex justify-content-between align-items-center">
            <div class="price">
              <span class="price-text">$122.00 <del>$140.00</del></span>
            </div>
            <div class="rating d-flex">
              <ul>
                <li><i class="lni lni-star"></i></li>
                <li><i class="lni lni-star"></i></li>
                <li><i class="lni lni-star"></i></li>
                <li><i class="lni lni-star"></i></li>
                <li><i class="lni lni-star"></i></li>
              </ul>
              <span class="rating-text">(01 Customer Review)</span>
            </div>
          </div> <!-- details price rating -->
          <div class="details-overview">
            <div class="details-sub-title">
              <h4 class="sub-title">Quick Overview</h4>
            </div>
            <p class="text">There are many variations of passages of Lorem Ipsum avaable, b majority have suffered
              alteration in some form, by injected humour, or randomised words which don't look even slightly
              believable. make an ami jani nab majority have suffered alteration in some form, variations of passages
              Lorem Ipsum avaable, b majority</p>
          </div> <!-- details overview -->
          <div class="details-size">
            <div class="details-sub-title">
              <h4 class="sub-title">Select Size</h4>
            </div>
            <ul class="size-itesms">
              <li><a href="#">s</a></li>
              <li><a class="active" href="#">m</a></li>
              <li><a href="#">l</a></li>
              <li><a href="#">xl</a></li>
            </ul>
          </div> <!-- details size -->
          <div class="details-color">
            <div class="details-sub-title">
              <h4 class="sub-title">Select Color</h4>
            </div>
            <ul class="color-itesms">
              <li class="active"><button class="color color-1"><i class="lni lni-check-mark-circle"></i></button></li>
              <li><button class="color color-2"><i class="lni lni-check-mark-circle"></i></button></li>
              <li><button class="color color-3"><i class="lni lni-check-mark-circle"></i></button></li>
              <li><button class="color color-4"><i class="lni lni-check-mark-circle"></i></button></li>
            </ul>
          </div> <!-- details color -->
          <div class="details-cart d-sm-flex align-items-center">
            <div class="product-quantity d-flex mt-10 mr-20" id="quantity">
              <button type="button" id="sub" class="sub">-</button>
              <input type="text" id="1" value="0">
              <button type="button" id="add" class="add">+</button>
            </div>
            <div class="cart=btn mt-10">
              <a class="main-btn" href="#"><i class="lni lni-cart-full"></i> Add to Cart</a>
            </div>
          </div> <!-- details cart -->
          <div class="details-usefull">
            <ul class="usefull-link">
              <li><a href="#"><i class="lni lni-envelope"></i>Email to a Friend</a></li>
              <li><a href="#"><i class="lni lni-heart"></i>Wishlist</a></li>
              <li><a href="#"><i class="lni lni-printer"></i>print</a></li>
            </ul>
          </div> <!-- details usefull -->
          <div class="details-share d-flex align-items-center">
            <span class="share">Share:</span>
            <ul class="social">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
              <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
            </ul>
          </div> <!-- details share -->
        </div> <!-- product details content -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
