<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <section class="section">
        <div class="sign-up-form">
          <div *ngIf="isLoading"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <form
            *ngIf="!isLoading"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">
            <h2 class="section-title">Log In</h2>
            <hr class="lines">

            <mat-form-field>
              <input type="email" matInput placeholder="Your email" formControlName="email">
              <!-- <mat-hint>Please enter a valid email.</mat-hint>
              <mat-error>Invalid or missing email.</mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Your password" formControlName="password">
              <!-- <mat-hint>Please enter your password.</mat-hint>
              <mat-error>Missing password.</mat-error> -->
            </mat-form-field>
            <button class="btn btn-common btn-sm" type="submit" mat-raised-button color="primary">Submit</button>
            <br>
            <div>You don't have an account? You can <a class="btn btn-xs btn-common" routerLink="/signup" routerLinkActive="active">sign up here</a> </div>

          </form>
        </div>
      </section>
    </div>
  </div>
</div>
