  <div class="shop-product">
    <div class="product-box">
      <a href="#"><img src="assets/img/products/{{product.imgUrl}}" alt=""></a>
      <div class="cart-overlay">
      </div>
      <span class="sticker new"><strong>NEW</strong></span>
      <div class="actions">
        <div class="add-to-links">
          <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
          <a class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
        </div>
      </div>
    </div>
    <div class="product-info">
      <h4 class="product-title"><a href="product-details.html">{{ product.description }}</a></h4>
      <div class="align-items">
        <div class="pull-left">
          <span class="price">{{ product.price }}$</span>
        </div>
        <div class="pull-right">
          <div class="reviews-icon">
            <i class="i-color fa fa-star"></i>
            <i class="i-color fa fa-star"></i>
            <i class="i-color fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
