<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <a  class="btn btn-common" routerLink="/home" class="navbar-brand"><img src="../assets/img/logo.png" alt=""></a>
  <a  class="btn btn-common" routerLink="/products" routerLinkActive="active">Products</a>
  <a *ngIf="!isAuth" class="btn btn-common" routerLink="/signup" routerLinkActive="active">Sign Up</a>
  <a *ngIf="!isAuth" class="btn btn-common" routerLink="/login" routerLinkActive="active">Login</a>
  <a *ngIf="isAuth" class="btn btn-danger">Log Out</a>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
