<div class="shop-cart">
  <ul>
    <li><a class="cart-icon cart-btn" href="wishlist.html"><span class="icon-heart"></span></a></li>
    <li>
      <a class="cart-icon cart-btn"><i class="icon-basket"></i><span class="cart-label">{{ cartItemsNumber }}</span></a>
      <div class="cart-box">
        <div class="popup-container">
          <app-cart-entry
            *ngIf="groupedCartItems"
            [cartItems]="groupedCartItems">
          </app-cart-entry>
          <div class="summary">
            <div class="subtotal">Sub Total</div>
            <div class="price-s">${{ itemsValue }}</div>
          </div>
          <div class="cart-buttons">
            <a href="#" class="btn btn-border-2">View Cart</a>
            <a href="#" class="btn btn-common">Checkout</a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- shopping cart end -->

<div class="account link-inline">
  <a *ngIf="!isAuth"
    routerLink="/signup"
    routerLinkActive="active"
    (click)="register()">
    <i class="icon-login"></i><span class="hidden-mobile">Login/Register</span>
  </a>
  <a *ngIf="isAuth"
    class="sign-out"
    (click)="logOut()">
    <i class="icon-login"></i><span class="hidden-mobile">Log Out</span>
  </a>
</div>
