<div class="language-wrapper">
  <div class="box-language">
    <form id="form-language">
      <div class="btn-group toggle-wrap">
        <span class="toggle">
          <span><img src="assets/img/language/flag-lang.png" alt="English" title="English" height="11" width="16">
            English</span>
          <span class="hidden">Language</span>
        </span>
        <ul style="display: none;" class="toggle_cont pull-right">
          <li>
            <button class="language-select selected" type="button" name="en-gb">
              <img src="assets/img/language/en-gb.png" alt="English" title="English" height="11" width="16">
              English </button>
          </li>
          <li>
            <button class="language-select" type="button" name="de-DE">
              <img src="assets/img/language/de-DE.png" alt="Deutsch" title="Deutsch" height="11" width="16">
              Deutsch </button>
          </li>
          <li>
            <button class="language-select" type="button" name="ru-ru">
              <img src="assets/img/language/ru-ru.png" alt="Русский" title="Русский" height="11" width="16">
              Русский </button>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="box-currency">
    <form method="post" id="form-currency">
      <div class="btn-group toggle-wrap">
        <span class="toggle">
          $USD
        </span>
        <ul class="toggle_cont pull-right">
          <li>
            <button class="currency-select selected" type="button" name="USD">
              $ USD </button>
          </li>
          <li>
            <button class="currency-select" type="button" name="EUR">
              € EUR
            </button>
          </li>
          <li>
            <button class="currency-select" type="button" name="GBP">
              £ GBP </button>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <a href="#"><i class="icon-phone"></i> Call Us: (123) 456- 789</a>
</div>
<div class="clear"></div>
