<div class="product-card text-center mt-30">
  <div class="product-image">
    <img src="assets/img/products/{{ product.imgUrl }}" alt="product">
    <div class="sticker new">
      <span>New</span>
    </div>
  </div>
  <div class="product-content">
    <h5 class="product-name"><a href="product-details.html">{{ product.description }}</a></h5>
    <span class="price">{{ product.price }}$</span>
    <ul class="actions">
      <li><a href="#" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="lni lni-eye"></i></a></li>
      <li><a href="#"><i class="lni lni-heart"></i></a></li>
      <li><a href="#"><i class="lni lni-shuffle"></i></a></li>
    </ul>
  </div>
</div>
