<section class="section category-page pt-50 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 order-lg-last">
        <div class="category-sidebar">
          <div class="category-search">
            <input type="text" placeholder="Search here...">
            <button><i class="lni lni-search"></i></button>
          </div> <!-- category search -->

          <div class="category-list mt-30">
            <div class="category-title">
              <h4 class="title">CATEGORIES</h4>
            </div>
            <div class="category-list-items">
              <ul class="list-items">
                <li>
                  <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                    aria-controls="multiCollapseExample1">Fashion <span><i class="lni lni-chevron-down"></i></span> </a>
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <ul class="listSidebar">
                      <li><a href="#">Men</a></li>
                      <li><a href="#">Women</a></li>
                      <li><a href="#">Bag</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Trending <span>(69)</span></a></li>
                <li><a href="#">New Arrivals <span>(27)</span></a></li>
                <li><a href="#">Flowerpot <span>(27)</span></a></li>
                <li><a href="#">Cups <span>(39)</span></a></li>
                <li><a href="#">Beauty <span>(95)</span></a></li>
                <li><a href="#">Wall Hook <span>(69)</span></a></li>
                <li><a class="product-all" href="#">Product All</a></li>
              </ul>
            </div> <!-- category list items -->
          </div> <!-- category list -->

          <div class="category-color mt-30">
            <div class="category-title">
              <h4 class="title">COLOR</h4>
            </div>
            <div class="category-color-items">
              <ul class="color-items">
                <li><a href="#"><span class="color color-1"></span> LightSalmon <span class="count">12</span> </a></li>
                <li><a href="#"><span class="color color-2"></span> Dark Salmon <span class="count">20</span> </a></li>
                <li><a class="active" href="#"><span class="color color-3"></span> Tomato <span class="count">59</span>
                  </a></li>
                <li><a href="#"><span class="color color-4"></span> Deep Sky Blue <span class="count">45</span> </a>
                </li>
                <li><a href="#"><span class="color color-5"></span> Electric Purple <span class="count">78</span> </a>
                </li>
                <li><a href="#"><span class="color color-6"></span> Atlantis <span class="count">10</span> </a></li>
                <li><a href="#"><span class="color color-7"></span> Deep Lilac <span class="count">15</span> </a></li>
              </ul>
            </div> <!-- category list items -->
          </div> <!-- category list -->

          <div class="category-pricing-range mt-30">
            <div class="category-title">
              <h4 class="title">FILTER BY PRICE</h4>
            </div>
            <div class="pricing-range">
              <form action="#">
                <span class="irs irs--flat js-irs-0  irs-with-grid"><span class="irs"><span class="irs-line"
                      tabindex="0"></span><span class="irs-min"
                      style="display: none; visibility: visible;">0</span><span class="irs-max"
                      style="display: none; visibility: visible;">1</span><span class="irs-from"
                      style="visibility: visible; left: 11.5897%;">$1 000</span><span class="irs-to"
                      style="visibility: visible; left: 67.641%;">$4 000</span><span class="irs-single"
                      style="visibility: hidden; left: 27.8205%;">$1 000 — $4 000</span></span><span class="irs-grid"
                    style="width: 93.8462%; left: 2.97692%;"><span class="irs-grid-pol" style="left: 0%"></span><span
                      class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -2.82051%;">0</span><span
                      class="irs-grid-pol small" style="left: 20%"></span><span class="irs-grid-pol small"
                      style="left: 15%"></span><span class="irs-grid-pol small" style="left: 10%"></span><span
                      class="irs-grid-pol small" style="left: 5%"></span><span class="irs-grid-pol"
                      style="left: 25%"></span><span class="irs-grid-text js-grid-text-1"
                      style="left: 25%; visibility: visible; margin-left: -7.17949%;">1 250</span><span
                      class="irs-grid-pol small" style="left: 45%"></span><span class="irs-grid-pol small"
                      style="left: 40%"></span><span class="irs-grid-pol small" style="left: 35%"></span><span
                      class="irs-grid-pol small" style="left: 30%"></span><span class="irs-grid-pol"
                      style="left: 50%"></span><span class="irs-grid-text js-grid-text-2"
                      style="left: 50%; visibility: visible; margin-left: -7.17949%;">2 500</span><span
                      class="irs-grid-pol small" style="left: 70%"></span><span class="irs-grid-pol small"
                      style="left: 65%"></span><span class="irs-grid-pol small" style="left: 60%"></span><span
                      class="irs-grid-pol small" style="left: 55%"></span><span class="irs-grid-pol"
                      style="left: 75%"></span><span class="irs-grid-text js-grid-text-3"
                      style="left: 75%; visibility: visible; margin-left: -7.4359%;">3 750</span><span
                      class="irs-grid-pol small" style="left: 95%"></span><span class="irs-grid-pol small"
                      style="left: 90%"></span><span class="irs-grid-pol small" style="left: 85%"></span><span
                      class="irs-grid-pol small" style="left: 80%"></span><span class="irs-grid-pol"
                      style="left: 100%"></span><span class="irs-grid-text js-grid-text-4"
                      style="left: 100%; margin-left: -7.17949%;">5 000</span></span><span class="irs-bar"
                    style="left: 21.8462%; width: 56.3077%;"></span><span class="irs-shadow shadow-from"
                    style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span
                    class="irs-handle from" style="left: 18.7692%;"><i></i><i></i><i></i></span><span
                    class="irs-handle to type_last" style="left: 75.0769%;"><i></i><i></i><i></i></span></span><input
                  id="pricing-range" type="text" name="" value="" class="" tabindex="-1" readonly="">
                <button class="main-btn">Filter</button>
              </form>
            </div> <!-- pricing range -->
          </div> <!-- category pricing range -->

          <div class="category-size mt-30">
            <div class="category-title">
              <h4 class="title">SIZE</h4>
            </div>
            <div class="size-list">
              <ul>
                <li><a href="#">M</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">SL</a></li>
                <li><a href="#">XL</a></li>
              </ul>
            </div> <!-- size list -->
          </div> <!-- category size -->

          <div class="category-add mt-30">
            <div class="banner-add">
              <!-- <a href="#"><img src="assets/img/products/banner-add.jpg" alt="ADD"></a> -->
            </div> <!-- banner add -->
          </div> <!-- category add -->
        </div> <!-- category sidebar -->
      </div>
      <div class="col-lg-9 col-md-8 order-lg-first">
        <div class="category-product pt-30">
          <div class="product-option d-flex justify-content-between">
            <div class="shop-tab">
              <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="active" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid"
                    aria-selected="true"><i class="lni lni-grid-alt"></i></a>
                </li>
                <li class="nav-item">
                  <a id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"
                    class=""><i class="lni lni-list"></i></a>
                </li>
              </ul>
            </div>
            <div class="showing">
              <p class="text">Showing 01-09 of 17 Results</p>
            </div>
          </div> <!-- product option -->
          <div class="shop-product">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                <div class="product-grid">
                  <div class="row">
                    <div class="col-lg-4 col-md-6"
                      *ngFor="let p of products">
                      <app-product-card [product]="p"></app-product-card>
                      <!-- product card -->
                    </div>
                  </div> <!-- row -->
                </div> <!-- product grid -->
              </div>
            </div> <!-- tab content -->
          </div> <!-- shop product -->
          <div class="product-pagination d-sm-flex justify-content-between align-items-center mt-30">
            <div class="product-results text-center text-sm-left mt-20">
              <p class="text">Showing: 1 - 6 Of 17</p>
            </div>
            <ul class="pagination align-items-end justify-content-center justify-content-sm-end mt-20">
              <li class="page-item">
                <a href="#" tabindex="-1"><i class="lni lni-chevron-left"></i></a>
              </li>
              <li class="page-item"><a href="#">1</a></li>
              <li class="page-item active"><a href="#">2</a></li>
              <li class="page-item"><a href="#">3</a></li>
              <li class="page-item">...</li>
              <li class="page-item">
                <a href="#"><i class="lni lni-chevron-right"></i></a>
              </li>
            </ul>
          </div> <!-- product pagination -->
        </div> <!-- category product -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
